<!-- connect modal -->
<div id="connect-modal" class="modal fade" tabindex="-1" role="dialog" aria-labbeldby="deletePhone" aria-hidden="true">
  <div class="modal-dialog">
    <form class="modal-content" role="form">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          <span class="glyphicon glyphicon-plus"></span> 新しい端末を接続
        </h4>
      </div>
      <div class="modal-body">
        <p>本当に接続しますか？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
        <button data-loading-text="Connecting..." type="submit" class="btn btn-danger">接続</button>
      </div>
    </form>
  </div>
</div>

<!-- disconnect modal -->
<div id="disconnect-modal" class="modal fade" tabindex="-1" role="dialog" aria-labbeldby="deletePhone" aria-hidden="true">
  <div class="modal-dialog">
    <form class="modal-content" role="form">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          <span class="glyphicon glyphicon-minus"></span> 切断確認
        </h4>
      </div>
      <div class="modal-body">
        <p>本当に切断しますか？</p>
        <p>親端末が切断すると、全ての子端末が切断されます。</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
        <button data-loading-text="Disconnecting..." type="submit" class="btn btn-danger">切断</button>
      </div>
    </form>
  </div>
</div>

<!-- about modal -->
<div id="about-modal" class="modal fade" tabindex="-1" role="dialog" aria-labbeldby="deletePhone" aria-hidden="true">
  <div class="modal-dialog">
    <form class="modal-content" role="form">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          <span class="glyphicon glyphicon-question-sign"></span> About
        </h4>
      </div>
      <div class="modal-body">
        <p>これは、 Web アプリケーションやブラウザゲームとスマートフォン・タブレット等の携帯端末をシームレスに接続するための中継システムです。</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">確認</button>
      </div>
    </form>
  </div>
</div>

