<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/sticky-footer-navbar.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Connect to Smartphone</title>
</head>
<body>
  <div class="wrap">
    <!-- fixed navbar -->
    <header class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- menu -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Connect to Smartphone</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a data-toggle="modal" href="#about-modal">About</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a data-toggle="modal" href="#disconnect-modal">
                <span class="glyphicon glyphicon-off"></span>
                Disconnect
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-center">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">スマートフォンで接続接続っ！</h3>
            </div>
            <div class="panel-body">
              <div id="qrcode" class="img-thumbnail"></div>
            </div>
          </div>
        </div>
      </div>
      <h2>
        <span data-bind="if:is_parent">接続リスト</span>
        <span data-bind="ifnot:is_parent">接続ステータス</span>
      </h2>
      <div class="panel panel-default status">
        <p data-bind="ifnot:connected" class="text-center">
          <span class="glyphicon glyphicon-refresh"></span>
          Connecting...
        </p>
        <p data-bind="if:waiting" class="text-center">
          <span class="glyphicon glyphicon-ok"></span>
          Connected! Please waiting...
        </p>
        <table data-bind="if:is_parent" class="table table-hover" id="phones">
          <thead>
            <tr>
              <th>端末</th>
              <th>時間</th>
              <th>状態</th>
            </tr>
          </thead>
          <tbody data-bind="foreach:connections">
            <tr>
              <td data-bind="text:name"></td>
              <td data-bind="text:time"></td>
              <td>
                <button data-bind="visible:connected" type="button" class="btn btn-success btn-xs">
                  <span class="glyphicon glyphicon-ok-circle"></span> 接続済み
                </button>
                <button data-bind="visible:!connected, click:active" type="button" class="btn btn-danger btn-xs" data-toggle="modal" href="#connect-modal">
                  <span class="glyphicon glyphicon-warning-sign"></span> 接続待ち
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {{> modal}}

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/qrcode.js"></script>
  <script src="/js/platform.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/knockout.js"></script>
  <script src="/js/ConnectionListViewModel.js"></script>
  <script src="/js/drawQR.js"></script>
  <script src="/js/connect.js"></script>
  <script src="/js/ui.js"></script>
</body>
</html>
