body {
  /* modal fix */
  margin: 0 !important;
}

.navbar-fixed-top {
   /* modal fix */
  margin: 0 !important; 
}

.url {
  margin: 10px 0 0;
}
.url > input {
  width: 100%;
}

.status p {
  margin: 10px 0 10px; 
}

/* for knockout.js */
*[data-bind^="visible"], *[data-bind^="if"] {
  visibility: hidden;
}
body.visible *[data-bind^="visible"], body.visible *[data-bind^="if"] {
  visibility: visible;
}
