body {
  -webkit-user-select: none;
  user-select: none;
}

.circle {
  position: relative;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #c0ffee;
  transition: left 0.2s, top 0.2s;
}

.info-foot {
  margin-top: 100px;
}

.ribbon {
  display: none;
}
@media (min-width: 600px) {
  .ribbon {
    display: block;
  } 
}
