.circle {
  position: relative;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #c0ffee;
  transition: left 0.2s, top 0.2s;
}

.info-foot {
  margin-top: 100px;
}

/* for knockout.js */
*[data-bind^="visible"], *[data-bind^="if"] {
  visibility: hidden;
}
body.visible *[data-bind^="visible"], body.visible *[data-bind^="if"] {
  visibility: visible;
}
